header{
    color:black; font-family: Verdana; font-size: large; text-align: center; border: 4redpx solid black; background-color:#061BD7;
}
a{
    text-decoration: none;
    color: blue;
}
h2{
    text-align: center;
    color: #303030;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
ol{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
dl{
    display: flex;

}
dt{
    text-transform: uppercase;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }